body{
    background-image: url(https://wallpapercave.com/wp/wp11947636.jpg);
    background-size: cover;
    color:white;
}
.header{
    background-color:pink ;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    opacity: 60%;
    
}

.header:hover{
    transform: scale(150%);
    transition: transform 1s;
    opacity: 100%;
 
}
.subheader{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aliceblue;
    align-content: center;
    color: black;
    
}

@keyframes subheader-animation {
    0%
    {
 left: -100%;
 background-color: blanchedalmond;
    }
100%
{
    left:100%;
    background-color: none;
}
    

    
}
.images{
    width: 400px;
    height:400px;
    border:10px solid;
    margin: 0 auto;
    padding: 0 auto;
    transition: transform 1s;
    box-shadow: 10px 10px 50px rgb(209,231,255);
}
@media (max-width: 2000px) {
}

.image-box:hover .images{
    transform: rotate(17deg);
}
.overview{
    background-color: antiquewhite;
    margin-top:5vh;
    margin-bottom:1vh;
    margin-left:0vs;
    width:100%;
    padding-top:2vh;
    border-radius:5vh;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content:center;

}

.image-box:hover {
    transform: scale(130%);
    transform: translateY(-6vh);
    color:rgb(255,245,240);
    background-color:rgb(209,231,255);
    transition: transform .5s;
}
